<footer class="footer">
  <div class="container">
    <ul class="list-unstyled">
      {% if informations %}
      {% for information in informations %}
      <li><a href="{{ information.href }}">{{ information.title }}</a></li>
      {% endfor %}
      {% endif %}
      <li><a href="{{ contact }}">{{ text_contact }}</a></li>
    </ul>
    <!-- <p>{{ powered }}</p> -->
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>
